@import "compass/reset";

//-----------------------------------------------------------------------------

$highlightColor: #D65216;
$baseColor: #648899;
$petrol: #00788c;
$infoColor: #00788C;
$background1: #E5EDF1;
$baseFont: 'ff-mark-web-pro', 'Verdana', sans-serif;
$footerFont: 'dejarip', 'Verdana', sans-serif;

//-----------------------------------------------------------------------------

html {
    font-size: 62.5%;
    font-family: $baseFont;
    font-weight: 300;
    line-height: 150%;
}

body {
    color: $baseColor;
    background: #FFFFFF;
    text-align: center;
}

p {
    line-height: 140%;
}

header {
    background: $background1 url(../images/headerbg.png) 50% 100% no-repeat;
    .inner {
        overflow: hidden;
        position: relative;
    }
    h1, .logo {
        margin: 30px 0 35px 0;
        display: block;
    }
    p {
        position: absolute;
        top: 70px;
        right: 25px;
        font-size: 21px;
        font-size: 2.1rem;
        text-align: left;
    }
}

header .inner, section, footer {
    width: 1000px;
    margin: auto;
}

#info {
    font-size: 32px;
    font-size: 3.2rem;
    padding: 60px 0;
    color: $infoColor;
    font-weight: 300;
    width: 800px; // Override for styling purposes
}

#get-notified {
    width: 782px;
    border-radius: 5px;
    background: $background1;
    padding: 38px;
    box-sizing: border-box;
    font-size: 24px;
    font-size: 2.4rem;
    p {
        a {
            font-weight: 600;
            color: $baseColor;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#social {
    padding: 40px 0;
    font-size: 32px;
    font-size: 3.2rem;
    font-weight: 300;
    color: $infoColor;

    ul {
        margin-top: 20px;
    }

    li {
        display: inline-block;
    }
}

footer {
    border-top: 1px solid #bcc7cb;
    padding-top: 30px;
    margin-bottom: 60px;
    font-size: 16px;
    font-size: 1.6rem;
    font-family: $footerFont;

    a {
        font-weight: bold;
        color: $baseColor;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

strong {
    font-weight: bold;
    color: $highlightColor;
}

.contentpage #main {
    padding-top: 60px;
    padding-bottom: 60px;
    line-height: 150%;
    font-size: 16px;
    font-size: 1.6rem;

    h1, h2, a {
        color: $petrol;
    }

    h1 {
        font-size: 32px;
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 120%;
        margin-bottom: 10px;
    }

    h2 {
        text-align: left;
        font-size: 18px;
        font-size: 1.8rem;
        font-weight: 600;
        padding-bottom: 20px;
    }

    p.teaser, section {
        width: 715px;
        margin: auto;
    }

    section {
        margin-bottom: 40px;
    }

    p {
        text-align: left;
        margin-bottom: 1rem;
        line-height: 150%;
    }

    p.teaser {
        text-align: center;
        margin-bottom: 60px;
    }
}

//-----------------------------------------------------------------------------

@media (screen and max-width: 1000px) {
    header .inner, section, footer, #info {
        width: 100%;
    }
}

@media (screen and max-width: 782px) {
    #get-notified {
        width: 100%;
    }
}

@media (screen and max-width: 550px) {
    header p {
        // We hide the info text because it would overlap with the logo
        display: none;
    }
}

@media (screen and max-width: 400px) {
    html {
        font-size: 50%;
    }
}

@media (screen and max-width: 715px) {
    .contentpage #main {
        p.teaser, section {
            width: 96%;
            padding-left: 2px;
            padding-right: 2px;
        }
    }
}
